    /* Stile per il valore PPC */
    .ppc-value {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: #0bdad7;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-top: 4px;
      }
      
      .ppc-icon {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      
      /* Stile per il pulsante "Carica altri" */
      .load-more-button {
        display: block;
        width: 80%;
        margin: 20px auto;
        padding: 12px;
        background-color: #131313;
        color: white;
        border: none;
        border-radius: 24px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .load-more-button:hover {
        background-color: #6c6d5a;
      }
  
  
      /* Stile per il pulsante di cancellazione della ricerca */
      .clear-search {
        position: absolute;
        right: 36px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
        background-image: url('../icons/searchclose.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .back-arrow {
        width: 30px; 
        height: 30px; 
        cursor: pointer; 
        margin-right: 12px;

      }

      .sort-ppc-icon {
        width: 16px; 
        height: 16px; 
        margin-right: 4px; 
        vertical-align: middle;

      }

      .opponent-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        cursor: pointer;    /* confermiamo il puntatore mano */
      }
