    /* Stile per il valore PPC */


  
      /* Stile per il pulsante di cancellazione della ricerca */
      .clear-search {
        position: absolute;
        right: 36px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
        background-image: url('../icons/searchclose.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .back-arrow {
        width: 30px; 
        height: 30px; 
        cursor: pointer; 
        margin-right: 12px;

      }


      .opponent-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        cursor: pointer;    /* confermiamo il puntatore mano */
      }
