<footer class="footer-nav">
    <div class="footer-item" data-modal="rulesModal">
      <img src="icons/instructions.png" alt="Rules" class="menu_icon">
      <span class="menu_item">Rules</span>
    </div>
    <div class="footer-item" data-modal="privacyModal">
      <img src="icons/insurance.png" alt="Privacy" class="menu_icon">
      <span class="menu_item">Privacy</span>
    </div>
    <div class="footer-item" data-modal="termsModal">
      <img src="icons/terms.png" alt="Terms and Conditions" class="menu_icon">
      <span class="menu_item">Terms&Cond</span>
    </div>
    <div id="signOutBtn" class="footer-item">
      <img src="icons/sign-out.png" alt="Sign Out" class="menu_icon">
      <span class="menu_item">Sign Out</span>
    </div>
  </footer>
  